<title>Thank you for choosing to use ChangeControl</title>

<div class="container">
  <figure>

  </figure>
  <article>
    <h1>Thank you for choosing to use ChangeControl</h1>
    <p>We hope you will find it as useful as we do!</p>
    <nav>
      <%= button_to "Explore your new ChangeControl account!", change_requests_path, :method => "get" %>
    </nav>
  </article>
</div>