<p><%= @invite_user.email %>,</p>

<p>You have been invited to participate in a change control process.
We do need to confirm that a valid email was entered, so please click on the link below to return to the site and complete the confirmation process.</p>

<p><%=root_url(:subdomain => @invite_user.subdomain) + "invitation_confirmations/" + @invite_user.email_invitation_token + "/edit" %></p>

<p>Thank you,</p>
<p>The Administrator</p>